rules_version = '2';
 service firebase.storage {
   match /b/{bucket}/o {
     match /gallery/{uid}/{images=**} {
       allow get, list, create: if request.auth != null && request.auth.uid == uid;
     }
     match /gallery/{uid}/{images} {
       allow delete: if request.auth != null && request.auth.uid == uid;
     }
   }
 }